<div class="info-container-outher">
    <div class="info-headline-container d-flex justify-content-center p-5">
        <h2 class="h1">Why we are the best</h2>
    </div>
    <div class="info-container d-flex justify-content-around align-items-center">
        <div class="info-element d-flex justify-content-center align-items-center flex-column">
            <div class="icon-container d-flex justify-content-center align-items-center m-4">
                <img class="info-icon" src="../../assets/img/accomodation.png">
            </div>
            <h5 class="h5">Accomodation</h5>
            <hr>
            <p>We offer the finest selection of top</p>
            <p>notch hotels anywhere!</p>
        </div>
        <div class="info-element d-flex justify-content-center align-items-center flex-column">
            <div class="icon-container d-flex justify-content-center align-items-center m-4">
                <img class="info-icon" src="../../assets/img/plane.png">
            </div>
            <h5 class="h5">Transportation</h5>
            <hr>
            <p>Whether it’s about air tickets or</p>
            <p>shuttle bus, we will set it up!</p>
        </div>
        <div class="info-element d-flex justify-content-center align-items-center flex-column">
            <div class="icon-container d-flex justify-content-center align-items-center m-4">
                <img class="info-icon" src="../../assets/img/seasonedAgents.png">
            </div>
            <h5 class="h5">Seasoned Agents</h5>
            <hr>
            <p>Combined, the experience our agents</p>
            <p>have is centuries!</p>
        </div>
        <div class="info-element d-flex justify-content-center align-items-center flex-column">
            <div class="icon-container d-flex justify-content-center align-items-center m-4">
                <img class="info-icon" src="../../assets/img/star.png">
            </div>
            <h5 class="h5">Easy Trip Planning</h5>
            <hr>
            <p>Our travel agents are always ready to</p>
            <p>plan your perfect trip!</p>
        </div>
    </div>
</div>