<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/hero.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="h2">We are your ultimate</h5>
                <h5 class="h2">Winter experience Provider!</h5>
                <p>With hundreds of winter holiday destinations offered, we are your</p>
                <p>natural choice for planning it all out!</p>
                <button class="heroButton">Learn More</button>
            </div>
        </div>
    </div>
</div>